.container{
  background-image: url("../img/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  font-size: 30px;
}

.logo{
  padding-top:15px; 
}
.navbar{
  float: right;
  display: inline;
  padding-left: 20px;
}

.navbar ul li {
  display: inline;
  color: lightcyan;
  padding-left: 15px;
  font-size: 30px;
}

.navbar ul li a{
  color: darkblue;
}



.container h5 {
  text-align: center;
  color:lightblue;
  font-size: 40px;
  font-family: sans-serif;
}